<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_template/main_template.html}">
<body>
<div layout:fragment="content_part">

    <div th:object = "${city}">
        <div style="text-align: center;"><h3 style="alignment: center; margin-top: 15px;"
                                             th:text="*{name}">Город</h3></div>
        <br>
    </div>

    <br><br>

    <div th:object = "${attractions}">
        <h4 align="center">Достопримечательности:</h4>
        <br>
        <tr class="align-middle">
          <span th:if="${attractions.size() == 0}">
            <td th:text="'Информации о достропримечательностях города нет'">Информации о достропримечательностях города нет</td>
          </span>
            <span th:if="${attractions.size() > 0}">
          <table table class="table table-secondary table-striped table-hover table-bordered">
              <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Адрес</th>
                    <th colspan="2" th:if="${isAdmin}"></th>
              </tr>
              </thead>
              <th:block th:each="attraction : ${attractions}">
                <tr>
                    <td>
                        <a th:href="@{'/cities/{city_id}/attractions/{attraction_id}'(city_id=${city.id}, attraction_id=${attraction.id})}"
                           th:text="${attraction.name}">Название</a>
                    </td>
                    <td th:text="${attraction.description}">Описание</td>
                    <td th:text="${attraction.address}">Адрес</td>
                    <td th:if="${isAdmin}" style="text-align: center">
                        <a th:href="@{'/cities/{city_id}/attractions/{attraction_id}/edit'(city_id=${city.id}, attraction_id=${attraction.id})}"
                           class="btn btn-outline-primary">
                           <i class="fa fa-edit" style="font-size: 20px;"></i>
                        </a>
                    </td>
                    <td th:if="${isAdmin}" style="text-align: center">
                        <a th:href="@{'/cities/{city_id}/attractions/{attraction_id}/delete'(city_id=${city.id}, attraction_id=${attraction.id})}"
                           class="btn btn-outline-danger">
                           <i class="fa fa-trash" style="font-size: 20px;"></i>
                        </a>
                    </td>
                </tr>
            </th:block>
          </table>
            </span>
        </tr>
    </div>

    <a th:if="${isAdmin}"
       th:href="@{'/cities/{city_id}/attractions/add'(city_id=${city.id})}"
       class="btn btn-outline-primary">Добавить</a>
    <br>
    <br>
    <a th:href="@{'/?id={id}'(id=${city.id})}">Вернуться на страницу города</a>
    <br>

</div>
</body>
</html>
