<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_template/main_template.html}">
<body>
<div layout:fragment="content_part">

    <div th:if="${isDeleting && isAdmin}" style="alignment: center; margin-top: 15px;">
        <form th:action="@{'/cities/{city_id}/attractions/{attraction_id}'(city_id=${city.id}, attraction_id=${attraction.id})}"
              th:method="delete" method="post">
            <span th:text="${'Удалить ' + attraction.name + '?'}" class="h4" >
                Удалить место питания?
            </span>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{'/cities/{city_id}/attractions'(city_id=${city.id})}" class="btn btn-outline-primary">
                Отмена
            </a>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-outline-danger">
                <i class="fa fa-trash" style="font-size: 20px;"></i> Удалить
            </button>
        </form>
        <br><hr><br>
    </div>

    <div th:object = "${attraction}">
        <div style="text-align: center;">
            <h5 style="alignment: center; margin-top: 15px;" th:text="*{name}">Название отеля</h5>
            <p><span th:text="*{description}">Описание</span></p>
            <p><span th:text="'Адрес: ' + *{address}">Адрес</span></p>
        </div>
    </div>

</div>
</body>
</html>