<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_template/main_template.html}">
<body>
<div layout:fragment="content_part">

    <div th:if="${isDeleting && isAdmin}" style="alignment: center; margin-top: 15px;">
        <form th:action="@{'/cities/{city_id}/events/{event_id}'(city_id=${city.id}, event_id=${event.id})}"
              th:method="delete" method="post">
            <span th:text="${'Удалить ' + event.name + '?'}" class="h4" >
                Удалить место питания?
            </span>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{'/cities/{city_id}/events'(city_id=${city.id})}" class="btn btn-outline-primary">
                Отмена
            </a>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-outline-danger">
                <i class="fa fa-trash" style="font-size: 20px;"></i> Удалить
            </button>
        </form>
        <br><hr><br>
    </div>
    <br>
    <div th:object = "${event}">
        <div style="text-align: center;">
            <h4 style="alignment: center; margin-top: 15px;" th:text="*{name}">Название Мероприятия</h4>
            <br>
            <p align="left"><span th:text="*{description}">Описание</span></p>
            <p align="left" style="font-weight: 700">Адрес:</p><p align="left"><span th:text="*{address}">Адрес</span></p>
            <p align="left" style="font-weight: 700">Дата начала:</p><p align="left"><span th:text=" ${#temporals.format(event.startDate, 'dd.MM.yyyy HH:mm')}">Дата начала</span></p>
            <p align="left" style="font-weight: 700">Дата окончания:</p><p align="left"><span th:text="${#temporals.format(event.finishDate, 'dd.MM.yyyy HH:mm')}">Дата окончания</span></p>
        </div>
    </div>
    <br>
    <br>
    <a th:href="@{'/cities/{city_id}/events/'(city_id=${city.id})}">Вернуться к списку мероприятий</a>
    <br>

</div>
</body>
</html>
