<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_template/main_template.html}">
<body>
<div layout:fragment="content_part">

    <div th:if="${isDeleting && isAdmin}" style="alignment: center; margin-top: 15px;">
        <form th:action="@{'/cities/{city_id}/foodplaces/{foodplace_id}'(city_id=${city.id}, foodplace_id=${foodPlace.id})}"
              th:method="delete" method="post">
            <span th:text="${'Удалить ' + foodPlace.name + '?'}" class="h4" >
                Удалить место питания?
            </span>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{'/cities/{city_id}/foodplaces'(city_id=${city.id})}" class="btn btn-outline-primary">
                Отмена
            </a>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-outline-danger">
                <i class="fa fa-trash" style="font-size: 20px;"></i> Удалить
            </button>
        </form>
        <br><hr><br>
    </div>

    <div style="alignment: left; margin-top: 15px; color: darkred">
        <span th:text="${'Средняя оценка: ' + #numbers.formatDecimal(valuationAvg, 1, 1)}"  style="font-weight:700">
            Средняя оценка: неизвестна</span><br>
        <span th:text="${'Количество оценок: ' + valuationCount}"  style="font-weight:700">Количество оценок: неизвестна</span>
    </div>
    <br>
    <div sec:authorize="!isAuthenticated()">
    Для того, чтоб поставить оценку, нужно быть зарегистрированным пользователем. <a href="/login">Вход </a>
    </div>
    <br>

    <div th:object = "${foodPlace}">
        <div style="text-align: center;">
            <h4 style="alignment: center; margin-top: 15px;" th:text="*{name}">Название Места Питания</h4>
            <br>
            <p align="left"><span th:text="*{description}" >Описание</span></p>
            <br>
            <p align="left" style="font-weight: 700">Адрес: </p><p align="left"><span th:text="*{address}">Адрес</span></p>
        </div>
    </div>


    <br>
    <div th:if="${user != null && !isAdmin}">
        <h5 th:text="${valuation.value > 0 ? 'Ваша оценка' : 'Вы еще не голосовали'}">Ваша оценка</h5>
        <form th:object="${valuation}" class="form-horizontal"
              th:action="@{'/cities/{city_id}/foodplaces/{foodplace_id}/valuations'(city_id=${city.id}, foodplace_id=${foodPlace.id})}"
              th:method="${isNewValuation ? 'post' : 'put'}"
              name="foodplace_valuation" id="foodplace_valuation" method="post" role="form">
            <div class="form-group">
                <input type="hidden" id="id" th:name="id" th:field="*{id}"/>
            </div>
            <div class="form-group">
                <input type="hidden" id="user" th:name="user" th:field="*{user.id}"/>
            </div>
            <div class="form-group">
                <input type="hidden" id="foodp_place" th:name="foodp_place" th:field="*{foodPlace.id}"/>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <span th:each="i : ${#numbers.sequence(1, 5, 1)}">
                   <label class="custom-control-label" th:for="${'valuation' + i}" th:text="${i}">1</label>
                   <input type="radio" name="valuation" th:id="${'valuation' + i}" th:value="${i}" th:field="*{value}">
                </span>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
    <br>
    <br>
    <a th:href="@{'/cities/{city_id}/foodplaces/'(city_id=${city.id})}">Вернуться к списку мест питания</a>
    <br>

</div>
</body>
</html>
