<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_template/main_template.html}">
<body>
<div layout:fragment="content_part">

  <div style="text-align: center;"><h3 style="alignment: center; margin-top: 15px;">Тут название города</h3>
    <br>
    <p>Тут описание города</p>
    <br><br>
    <h4>Фотографии:</h4>
    <p>Тут фотографии города(если они есть), вставим карусель</p>
    <br><br>
    <h4>Транспорт:</h4>
    <p>Тут информация о транспорте, если он добавлен</p>
    <br><br>
    <h4>Жильё:</h4>
    <p>Тут информация о жильё(+фото), если оно добавлено</p>
    <br><br>
    <h4>Достопримечательности:</h4>
    <p>Тут информация о достопримечательностях(+фото), если они добавлены</p>
    <br><br>
    <h4>Массовые мероприятия:</h4>
    <p>Тут информация о мероприятиях(+фото), если они добавлены</p>
    <br><br>
    <h4>Места питания:</h4>
    <p>Тут информация о местах питания, если они добавлены</p>
  </div>
</div>
</body>
</html>
