<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_template/main_template.html}">
<body>
<div layout:fragment="content_part">

    <div th:object = "${city}">
        <div style="text-align: center;"><h3 style="alignment: center; margin-top: 15px;"
                                             th:text="*{name}">Город</h3></div>
        <br>
    </div>

    <br><br>

    <div th:object = "${hotels}">
        <h4>Жильё:</h4>
        <tr class="align-middle">
          <span th:if="${hotels.size() == 0}">
            <td th:text="'Информации о Доступном жилье пока что нет'">Информации о Доступном жилье пока что нет</td>

          </span>
            <span th:unless="${hotels.size() == 0}">
                <td th:text="'Вот он список жилья!'">Вот он список жилья!</td>
            </span>
        </tr>
    </div>

</div>
</body>
</html>
