<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_template/main_template.html}">
<body>
<div layout:fragment="content_part">

    <div th:if="${isDeleting && (hotel.user == currentUser || isAdmin)}" style="alignment: center; margin-top: 15px;">
        <form th:action="@{'/cities/{city_id}/hotels/{hotel_id}'(city_id=${city.id}, hotel_id=${hotel.id})}"
              th:method="delete" method="post">
            <span th:text="${'Удалить ' + hotel.name + '?'}" class="h4" >
                Удалить жилье?
            </span>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{'/cities/{city_id}/hotels'(city_id=${city.id})}" class="btn btn-outline-primary">
                Отмена
            </a>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-outline-danger">
                <i class="fa fa-trash" style="font-size: 20px;"></i> Удалить
            </button>
        </form>
        <br><hr><br>
    </div>
    <br>
    <div th:object = "${hotel}">
        <div style="text-align: center;">
            <h4 style="alignment: center; margin-top: 15px;" th:text="*{name}">Название отеля</h4>
            <br>
            <p align="left"><span th:text="'Категория жилья:     ' + *{hotelCategory.name}">Категория жилья</span></p>
            <p align="left"><span th:text="*{description}">Описание</span></p>
            <br>
            <p align="left" style="font-weight: 700">Адрес: </p><p align="left"><span th:text="*{address}">Адрес</span></p>
            <p align="left" style="font-weight: 700">Тел.: </p><p align="left"><span th:text="*{phone}">Телефон</span></p>
            <p align="left" style="font-weight: 700">Автор: </p><p align="left"><span th:text="*{user.firstName} + ' ' + *{user.lastName}">Автор объявления</span></p>
        </div>
    </div>
    <br>
    <br>
    <a th:href="@{'/cities/{city_id}/hotels/'(city_id=${city.id})}">Вернуться к списку жилья</a>
    <br>

</div>
</body>
</html>
