<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_template/main_template.html}">
<body>
<div layout:fragment="content_part">

    <div th:object = "${city}">
        <div style="text-align: center;"><h3 style="alignment: center; margin-top: 15px;"
                                             th:text="*{name}">Город</h3></div>
        <br>
    </div>

    <br><br>

    <div th:object = "${hotels}">
        <h4>Жильё:</h4>
        <tr class="align-middle">
          <span th:if="${hotels.size() == 0}">
            <td th:text="'Информации о Доступном жилье пока что нет'">Информации о Доступном жилье пока что нет</td>
          </span>
            <span th:if="${hotels.size() > 0}">
          <table table class="table table-secondary table-striped table-hover table-bordered">
              <thead>
                <tr>
                    <th>Название</th>
                    <th>Категория</th>
                    <th>Адрес</th>
                    <th>Телефон</th>
                    <th>Автор</th>
                    <th colspan="2" th:if="${currentUser != null}"></th>
                </tr>
              </thead>
              <th:block th:each="hotel : ${hotels}">
                <tr>
                    <td>
                        <a th:href="@{'/cities/{city_id}/hotels/{hotel_id}'(city_id=${city.id}, hotel_id=${hotel.id})}"
                           th:text="${hotel.name}">Название</a>
                    </td>
                    <td th:text="${hotel.hotelCategory.name}">Категория</td>
                    <td th:text="${hotel.address}">Адрес</td>
                    <td th:text="${hotel.phone}">Телефон</td>
                    <td th:text="${hotel.user.firstName} + ' ' + ${hotel.user.lastName}">Автор</td>
                        <td th:if="${currentUser != null}" style="text-align: center">
                            <a th:if="${hotel.user == currentUser}"
                               th:href="@{'/cities/{city_id}/hotels/{hotel_id}/edit'(city_id=${city.id}, hotel_id=${hotel.id})}"
                               class="btn btn-outline-primary">
                               <i class="fa fa-edit" style="font-size: 20px;"></i>
                            </a>
                        </td>
                        <td th:if="${currentUser != null}">
                            <form th:if="${hotel.user == currentUser}"
                                  th:action="@{'/cities/{city_id}/hotels/{hotel_id}'(city_id=${city.id}, hotel_id=${hotel.id})}"
                                  th:method="delete">
                                <button type="submit" class="btn btn-outline-danger">
                                    <i class="fa fa-trash" style="font-size: 20px;"></i>
                                </button>
                            </form>
                        </td>
                </tr>
            </th:block>
          </table>
            </span>
        </tr>
    </div>

    <a th:if="${currentUser != null}"
       th:href="@{'/cities/{city_id}/hotels/add'(city_id=${city.id})}"
       class="btn btn-outline-primary">Добавить</a>

</div>
</body>
</html>
