<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_template/main_template.html}">
<body>
<div layout:fragment="content_part">

  <div style="text-align: center;"><h3 style="alignment: center; margin-top: 15px;">Регистрация нового пользователя</h3></div>
  <br><br>


  <form th:action="@{/registration}" th:method="post" th:object="${newUser}">
    <div class="mb-3">
      <!--            col-sm-6-->
      <div class="col-12">
        <label for="username" class="form-label">Логин:</label>
        <input type="text" th:field="*{username}" class="form-control" id="username" minlength="1" maxlength="255" required>
        <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
        </div>
      </div>
        <br>
      <div class="col-12">
        <label for="firstName" class="form-label">Имя:</label>
        <input type="text" th:field="*{firstName}" class="form-control" id="firstName" minlength="1" maxlength="255" required>
        <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('firstName')}"
             th:errors="*{firstname}"></div>
      </div>
        <br>
      <div class="col-12">
        <label for="lastName" class="form-label">Фамилия:</label>
        <input type="text" th:field="*{lastName}" class="form-control" id="lastName" minlength="1" maxlength="255" required>
        <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('lastName')}"
             th:errors="*{lastName}"></div>
      </div>
        <br>
      <div class="col-12">
        <label for="phone" class="form-label">Номер телефона: <span
                class="text-muted"></span> </label>
        <input type="tel" th:field="*{phone}"  class="form-control" id="phone"
               placeholder="8(9**)(***-**-**)" minlength="1" maxlength="255">
        <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('phone')}"
             th:errors="*{phone}"></div>
      </div>
        <br>
      <div class="col-12">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" th:field="*{email}" minlength="1" maxlength="255" id="email" placeholder="you@example.com">
        <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('email')}"
             th:errors="*{email}"></div>
      </div>
      <br>
      <div class="col-12">
        <label for="password" class="form-label">Пароль:</label>
          <!--          <span class="text-muted"> (from 10 to 25 symbols)</span></label>-->
          <input type="password" class="form-control" id="password" minlength="1" maxlength="255"
                 th:field="*{password}" required>
          <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}"></div>
      </div>
        <br>
      <div class="col-12">
        <label for="password" class="form-label">Повторите пароль:</label>
        <!--          <span class="text-muted"> (from 10 to 25 symbols)</span></label>-->
        <input type="password" class="form-control" id="password2" minlength="1" maxlength="255"
               name="password2" required>
<!--        <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('password')}"-->
<!--             th:errors="{password2}"></div>-->
      </div>

      <!--      <div class="col-12">-->
      <!--        <label for="password2" class="form-label">Repeat your password: <span class="text-muted">(should be identical)</span></label>-->
      <!--        <input type="password" class="form-control" id="password2" minlength="10" maxlength="25"-->
      <!--               th:field="*{passwordConfirm}">-->

      <!--        <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('passwordConfirm')}"-->
      <!--             th:errors="*{passwordConfirm}">-->

      <!--        </div>-->

      <!--      </div>-->

      <br>
      <button class="btn btn-primary btn-block" type="submit">Зарегистрировать</button>
      <br>
      <button class="btn btn-danger btn-block" type="reset">Очистить все поля</button>
      <br>
    </div>
  </form>
</div>
</body>
</html>
